@charset "utf-8";
/* CSS Document */

div{
    margin:0px;
    padding:0px;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix:after{
    content: '';
    display: table;
    clear:both;
}
.right{
    float: right;
}


.btn-default{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    margin: 0;
    background: inherit;
    border: 0;
    border-radius: inherit;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    text-transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f9fafb));
    background: linear-gradient(to bottom, white, #f9fafb);
    border: 1px solid #c4cdd5;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    border-radius: 3px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: #212b36;
    -webkit-transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, box-shadow;
    transition-property: background, border, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-tap-highlight-color: transparent;
    display: block;
    float: left;
    height: 36px;
    width: 40px;
    text-align: center;
    margin-right: 12px;
}
.btn-default:active{
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f6f8), to(#f4f6f8));
    background: linear-gradient(to bottom, #f4f6f8, #f4f6f8);
    border-color: #c4cdd5;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(99,115,129,0.1), inset 0 1px 4px 0 rgba(99,115,129,0.2);
    box-shadow: inset 0 1px 1px 0 rgba(99,115,129,0.1), inset 0 1px 4px 0 rgba(99,115,129,0.2);
}
.btn-default:focus{
    border-color: #5c6ac4;
    outline: 0;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05), 0 0 0 1px #5c6ac4;
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05), 0 0 0 1px #5c6ac4;
}
.btn-default:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#f4f6f8));
    background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
    border-color: #c4cdd5;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    color: #212b36;
}
.btn-default img{
    width: 14px;
    margin: 10px 0;
}
.btn-default span{
    margin: 7px auto;
}
.toggle{
    width: 42px;
    height: 22px;
    background: #dbdce3;
    display: block;
    border-radius: 25px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
.toggle:after{
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: #fff;
    border-radius: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
.active .toggle:after{
    left: calc(100% - 18px);
}
.active .toggle{
    background: #616fc6;
}

.modal-content{
    top: 120%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
}
.modal.active .modal-content{
    top: 0;
}
.modal-overlay{
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal-dialog{
    max-width: 82rem;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
    text-align-last: center;
}
.modal-radio li{
    margin-left: 2em;
}
.modal-radio li:first-child{
    margin-left: 0;
}

.list-table thead tr th:first-child{
    height: 54px;
}
.webapp-table .Polaris-DataTable__Cell--presentational {
min-width: 7.5rem;
width: 7.5rem;
}

.webapp-table .Polaris-DataTable__Cell--fixed {
width:7.5rem;
}
.webapp-table  .Polaris-DataTable__ScrollContainer{
margin-left:7.5rem;

}
.webapp-table .Polaris-DataTable__Table {
    margin-left: -7.5rem;
    width: calc(100% + 7.5rem);
}

.action-tab{
    width: 250px;
}

.checkbox-content {
    margin: 8px 0;
}
.polaris-gallery-web-app .Polaris-Connected {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
}

.Polaris-Page__Action .Polaris-Icon{
    padding-right: 5px;
}


.helper-text a{
    text-decoration: none;
}
.text-large{
    height: 442px;
}
.no-border{
    border: 0;
}
a{
    text-decoration: none !important;
}
.hidden{
    display: none !important;
}
/* =========== new app ========== */
.order-summary .Polaris-ResourceList-Item__Container{
    padding: 1.5rem 0;    
}
.name-module .Polaris-ResourceList-Item__Container{
    padding: 1.6rem 2rem; 
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.flex-1{
    flex: 1;
}
.ml-2{
    margin-left: 60px; 
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dbdbdb;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #5c6ac4;
}
input:focus + .slider {
    box-shadow: 0 0 1px #5c6ac4;
}
input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.Polaris-FooterHelp{
    margin: 5rem 2rem 2rem 2rem;    
}
.border-0{
    border: 0 !important;
    padding-top: 0;
}
.bottom-nav.Polaris-Card__Section{
    padding: 4rem 2rem;    
}
.for-percentage.Polaris-TextField .Polaris-TextField__Suffix{
    margin-left: 1.25em;    
}
.for-percentage .Polaris-TextField__Spinner .Polaris-TextField__Segment{
    border-right: 1px solid #c4cdd5;    
}
.Polaris-Choice{
    padding:0;
}
.mt-1{
    margin-top: 1rem;
}
.mb-1{
    margin-bottom: 0.6rem;    
}
.for-weight .Polaris-TextField__Backdrop{
    border-radius: 3px 0 0 3px;
}
.for-weight .Polaris-Select__Backdrop{
    border-radius: 0px 3px 3px 0px;
    margin-left: -1px;    
}
.for-add .Polaris-Layout{
    justify-content: start;
}
.align-right{
    text-align:right;
}
.right:after{
    content:'';
    display: block;
    clear: both;
}
.product-table table{
    width:100%;
    border-spacing: 0;    
}
.product-table .Polaris-DataTable__ScrollContainer{
    margin-left: 0;
}
.font-weight-600{
    font-weight: 600 !important;
}
.product-table tr th{
    font-weight: normal;
}
.product-table .Polaris-Thumbnail--sizeMedium{
    margin: 0 auto;    
}
.text-right{
    text-align: right;
}
.product-table .Polaris-DataTable__Cell--numeric{
    text-align:left;
}
.product-table .Polaris-Icon{
    height:auto;
}

.Polaris-InlineError{
    display: flex;
    color: #bf0711;
}
.Polaris-InlineError path{
    fill: #bf0711;
}

.errorItemMsg {
    color: #ca2828;
    display: none;
}
.master-datatable.td-width-80 > tbody > tr > td:first-child {
    width: 80%;
}
.master-datatable.td-width-80 > tbody > tr > td:last-child {
    width: 20%;
}
.master-datatable .Polaris-CalloutCard__Buttons{
    margin-top:0;
}
.full-table{
    display: flex;
    align-items: start;
    margin-left: -20px;
    margin-right: -20px;
}
.width-50 {
    padding: 0 20px;
    width: 50%;
    border-right: 1px solid #ebeff1;
    margin:0;
}
.width-50:last-child{
    border-right:0;
}
.paginate_button.previous, .paginate_button.next{
    border:0 !important;
}

.table-float-width{
    display: flex;
    align-items:center;
}

.table-float-width div {
    float: left;
    padding: 2px;
}
.table-float-width div:first-child{
    width:auto;
}
.dashboard-item-inline{
    display: inline-flex;
    flex-wrap: wrap;
}
.dashboard-item-inline .w-one-third{
    width: 33.33%;
}
.dashboard-item-inline .Polaris-Thumbnail:after{
    box-shadow: none;
}
.dashboard-item-inline .Polaris-Thumbnail__Image{
    width: 25px;
    border: 0;
    height: 25px;
}
.dashboard-item-inline .Polaris-Thumbnail--sizeMedium {
    width: 4rem;
}